<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.blood_donor">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegistrationActivity"
            android:label="@string/sign_up" />
        <activity android:name=".admin.AdminDashboard" />
        <activity android:name=".user.UserDashboard" />
        <activity
            android:name=".admin.AddClinicActivity"
            android:label="@string/add_clinic">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.blood_donor.admin.AdminDashboard" />
        </activity>
        <activity
            android:name=".admin.PostNewsActivity"
            android:label="@string/post_news">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.blood_donor.admin.AdminDashboard" />
        </activity>
        <activity
            android:name=".DonorListActivity"
            android:label="@string/blood_donors">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.blood_donor.admin.AdminDashboard" />
        </activity>
        <activity
            android:name=".ClinicListActivity"
            android:label="@string/clinics">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.blood_donor.admin.AdminDashboard" />
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:label="@string/profile">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.blood_donor.admin.AdminDashboard" />
        </activity>
        <activity
            android:name=".NewsListActivity"
            android:label="@string/news">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.blood_donor.admin.AdminDashboard" />
        </activity>
        <activity android:name=".user.UpdateAccountActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.blood_donor.admin.AdminDashboard" />
        </activity>
    </application>

</manifest>